.organismo{
    background-color: rgb(54, 238, 21);
    text-align: center;
    margin: 10px;
    padding: 2%;
}
body{
    background-color: rgb(225, 255, 189);

}
nav ul {
  display: flex;
  justify-content: space-around; /* o space-evenly */
  list-style: none;
  padding: 0;
    margin: 10px;
  background-color: rgb(155, 255, 165);
  border: 1px solid black;
}
    


    
    
   a {
    text-decoration: solid;
    color: black;

    
   }
#Instituto{
    background-color: rgb(255, 255, 255);
    border-radius: 0%;
    
    background-repeat: no-repeat ;
    background-position:right;
    background-size: 50%;
     text-align: left;
     padding: 3%;
     margin: 3px;
     border: 1px solid black;
 }
.Poroto{
    background-color: rgb(97, 255, 155); 
 
    border: 3px  rgb(0, 0, 0);
   
    
    text-align: center;
    font-size: 20px;
    margin: 2%
}
.sandia{
    background-color: rgb(238, 192, 253);
    padding:0%;
    margin: 0%;
    text-align: left;
   
}
.Ñame{
    background-color: rgb(192, 255, 183);
    
    

}
.mandioca{
    background-color: rgb(141, 194, 254);
    

}
.calabaza{
    background-color: rgb(196, 255, 194);
    
}
th, td {
    border: 1px solid black;
    }

.arbeja{
    background-color: rgb(187, 255, 166);
    }
    
    .titulos{
        background-color: rgb(125, 125, 125);
    border: 3px solid black;
  
    text-align: left;
    font-size: 20px;
    margin: 0%;
  
  


}  
  
.parrafo{
    background-color: rgb(155, 233, 59);
    border: 3px solid black;
    text-align: left;
    font-size: 15px;
    margin: 2%;
    
}
     li{
        background-color: rgb(155, 255, 165);
        
      
    
} 

 .sub-titulos{
    background-color: rgb(248, 255, 192);
      border: 3px solid black;
        
 }
.Importante{
    background-color: red;
  
    
}
label{
    background-color: aqua;
    
   

}
.dirreción{
    background-color: white;
    
    

}
.torta{
    background-color: white;
    
    

}
.xd{
    background-color: white;
     border: 1px solid black;
    


}
.cap {
    background-color: white;
    
    
    
}
.vaca{
     
    margin: auto;
}
.Pelosombra{
    background-color: rgb(18, 195, 53);
    display: flex;
    flex-direction: column;
    align-items:center;
}

.container{
    display: grid;
    grid-template-rows: auto, auto 1fr auto;
    min-height:100vh;
}


.formulario{
    display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
 label {
  width: 100%;
  }
   select {
  width: 100%;
  }
 
textarea {
  width: 100%;


  }

.lista{
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
 
}
/* Flexbox para [acomodar sus elementos de forma de culumna o fila ]
- display: flex activa el modo flexbox
- [flex direction column: cambia la dirección de los elementos a una columna uno de bajo del otro]
*[Display Grid: permite organizar los elementos en filas o columnas]
 grid-template-columns: permite definir cuantas filas tiene el grid y su tamaño
 flex-wrap: hace que los elementos pasen a otra linea si no entran en una sola fila.
 
*/
